In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('./data/movie.csv')
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [3]:
movie1 = movie.iloc[:, :11].fillna(0)

In [4]:
movie1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   color                    4916 non-null   object
 1   director_name            4916 non-null   object
 2   num_critic_for_reviews   4916 non-null   float64
 3   duration                 4916 non-null   float64
 4   director_facebook_likes  4916 non-null   float64
 5   actor_3_facebook_likes   4916 non-null   float64
 6   actor_2_name             4916 non-null   object
 7   actor_1_facebook_likes   4916 non-null   float64
 8   gross                    4916 non-null   float64
 9   genres                   4916 non-null   object
 10  actor_1_name             4916 non-null   object
dtypes: float64(6), object(5)
memory usage: 422.6+ KB

In [5]:
movie1.memory_usage(deep=True)

Index                         128
color                      306262
director_name              343388
num_critic_for_reviews      39328
duration                    39328
director_facebook_likes     39328
actor_3_facebook_likes      39328
actor_2_name               346635
actor_1_facebook_likes      39328
gross                       39328
genres                     379929
actor_1_name               346599
dtype: int64

In [6]:
movie1.describe(include=float).T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4916.0,1.366135e+02,1.204214e+02,0.0,47.00,106.5,191.00,813.0
duration,4916.0,1.067640e+02,2.592923e+01,0.0,93.00,103.0,118.00,511.0
director_facebook_likes,4916.0,6.766770e+02,2.805134e+03,0.0,6.00,44.0,188.00,23000.0
actor_3_facebook_likes,4916.0,6.283228e+02,1.622638e+03,0.0,129.00,362.0,631.00,23000.0
actor_1_facebook_likes,4916.0,6.485241e+03,1.509821e+04,0.0,606.00,981.5,11000.00,640000.0
gross,4916.0,3.929025e+07,6.380675e+07,0.0,285641.25,14914785.0,50875351.25,760505847.0

In [7]:
# np.finfo('float32')
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [8]:
# movie1['num_critic_for_reviews'] = movie1['num_critic_for_reviews'].astype(np.float16)
# movie1['duration'] = movie1['duration'].astype(np.float16)

movie1['num_critic_for_reviews'] = movie1['num_critic_for_reviews'].astype(np.float32)
movie1['duration'] = movie1['duration'].astype(np.float32)
movie1['director_facebook_likes'] = movie1['director_facebook_likes'].astype(np.float32)
movie1['actor_3_facebook_likes'] = movie1['actor_3_facebook_likes'].astype(np.float32)
movie1['actor_1_facebook_likes'] = movie1['actor_1_facebook_likes'].astype(np.float32)
movie1['gross'] = movie1['gross'].astype(np.float32)

In [9]:
movie1.memory_usage(deep=True)
# movie1.describe(include=float).T

Index                         128
color                      306262
director_name              343388
num_critic_for_reviews      19664
duration                    19664
director_facebook_likes     19664
actor_3_facebook_likes      19664
actor_2_name               346635
actor_1_facebook_likes      19664
gross                       19664
genres                     379929
actor_1_name               346599
dtype: int64

In [10]:
movie1.describe(include='O').T

              count unique             top  freq
color          4916      3           Color  4693
director_name  4916   2398               0   102
actor_2_name   4916   3031  Morgan Freeman    18
genres         4916    914           Drama   233
actor_1_name   4916   2096  Robert De Niro    48

In [11]:
movie1.color.value_counts()

Color              4693
Black and White     204
0                    19
Name: color, dtype: int64

In [12]:
movie1.genres.value_counts()

Drama                                          233
Comedy                                         205
Comedy|Drama                                   189
Comedy|Drama|Romance                           185
Comedy|Romance                                 157
                                              ...
Crime|Drama|History|Romance                      1
Biography|Crime|Documentary|History              1
Adventure|Crime|Drama|Mystery|Thriller           1
Action|Adventure|Fantasy|War                     1
Action|Adventure|Drama|History|Thriller|War      1
Name: genres, Length: 914, dtype: int64

In [13]:
movie1['color'] = movie1['color'].astype('category')
movie1['genres'] = movie1['genres'].astype('category')

In [14]:
movie1.memory_usage(deep=True)

Index                         128
color                        5190
director_name              343388
num_critic_for_reviews      19664
duration                    19664
director_facebook_likes     19664
actor_3_facebook_likes      19664
actor_2_name               346635
actor_1_facebook_likes      19664
gross                       19664
genres                     121102
actor_1_name               346599
dtype: int64

In [15]:
movie1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   color                    4916 non-null   category
 1   director_name            4916 non-null   object
 2   num_critic_for_reviews   4916 non-null   float32
 3   duration                 4916 non-null   float32
 4   director_facebook_likes  4916 non-null   float32
 5   actor_3_facebook_likes   4916 non-null   float32
 6   actor_2_name             4916 non-null   object
 7   actor_1_facebook_likes   4916 non-null   float32
 8   gross                    4916 non-null   float32
 9   genres                   4916 non-null   category
 10  actor_1_name             4916 non-null   object
dtypes: category(2), float32(6), object(3)
memory usage: 284.5+ KB

In [16]:
# 422.6 KB   ---------------->   284.5 KB